<!DOCTYPE html>
<html>
  <head>
    <title>Timekeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      a{
        text-decoration:none;
        background-color:#ebebeb;
        margin-right: 20px;
        padding:5px;
      }
      a:hover{
        background-color: grey;
        color:white;
       }

      #msg{
        width:400px;
        background-color:#ebebeb;
        margin-bottom:30px;
        }
    </style>

  </head>

  <body>
    <h1>Timekeeper</h1>

    <% flash.each do |name,msg| %>
      <div id="msg">
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg %>
      </div>
    <% end %>

    <%= link_to "View logs" , clockings_path%>
    <%= link_to "Clock in/out" , new_clocking_path %>
    <br/>
    <br/>
    <%= yield %>
  </body>
</html>
